// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import 'bootstrap';

body {
 background-color: #154d8f;
}

/*html, body, .container-fluid, .row {
	height: 100%;
	background-color: #154d8f;
	position: relative;
}
*/

.overlay {
	background-color: #F04C40 ;
	height: 1600px;
	width: 1000px;
	position: absolute;
	z-index: -1;
	top: 300px;
}

.front {
	background-color: white; 
	height: 200px;
	width: 200px;
}


.navbar-brand 
{
	font-size: 50px;
	margin: 30px;
	color: #8D2663;
}


.greybkg {
	background-color: #154d8f;
	height: 200px;
}



.btn-info {
	background-color: #F04C40;
	border: 2px solid black;
	top: 20px;
	padding: 10px;



}

.btn-info:hover {
	background-color: #168A8F;
}

.btn-success {
	background-color: #154d8f;
	top: 20px;
	border: 2px solid black;
	padding: 10px;

}

.btn-success:hover {
	background-color: #168A8F;
}

.above {
	background-color: white;
	height: 150px;
}


/*.form-group {
	height: 200px;
	width: 200px;
	top: 150px;
	right: 150px;
}
*/
.signup {
	margin: 200px;
	width: 200px;
}

.login {
	top: 200px;
	left: -100px;

}

.table-hover {
	top: 400px;
	width: 500px;
	margin: 100px;
}

.out {
	left: 500px;
}


.flip-container:hover .flipper, .flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

p {
	font-family: Sanchez ;
}
				