// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



@import 'bootstrap';

body.homepage {
 background-color: #DDDAD6;
}

html, body, .container-fluid, .row {
	height: 100%;
	background-color: #154d8f;
	position: relative;
}


.overlay {
	background-color: #F04C40 ;
	height: 700px;
	width: 1000px;
	margin-right: 400px;
	margin-top: 140px;

}



.navbar-brand 
{
	font-size: 50px;
	margin: 30px;
	color: #8D2663;
}

.btn {
	
	padding: 40px;
 	float: right;
 	/*left: 400px;*/
 	margin: 10px;
 	/*height: 50px;
 	width: 50px;*/
 	/*text-align: center;
 	text-decoration: */
 	border: 1px solid black;


}

.btn-info {
	background-color: #154d8f;
	border: none;
	border: 1px solid black;

}

.btn-info:hover {
	background-color: #168A8F;
}

.btn-success {
	background-color: #F04C40;
	border: none;
	border: 1px solid black;

}

.btn-success:hover {
	background-color: #168A8F;
}

div.row {
	background-color: white;
	width: 1200px;
	height: 150px;
}


.form-group {
	height: 200px;
	width: 200px;
	top: 150px;
	right: 150px;
}

.signup {
	margin: 200px;
}


.login {
	margin: 400px;
	right: 400px;
}