// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Dan {
	margin: 50px auto;
	text-align: center;
	top: 60px;
	left: 90px;

 }

 .Jay {

 	margin: 50px auto;
	text-align: center;
	top: 60px;
	left: 200px;


 }


 .Tyson {
 	margin: 50px auto;
	text-align: center;
	top: 560px;
	left: -540px;

 }


 .Cage {
	margin: 50px auto;
	text-align: center;
	top: 500px;
	left: -430px;

 }

 .Bieber {
 	margin: 50px auto;
 	text-align: center;
 	left: -430px;
 	top: 400px;
 }

 .signup {
	width: 300px;
 }

 